/.vs
/x64
/Invader/x64

# Build artifacts
*.o        # Object files
*.a        # Static libraries
*.so       # Shared libraries (Linux)
*.dll      # Dynamic-link libraries (Windows)
*.exe      # Executables (Windows)
*.out      # Generic executables
build/     # Common build output directory
bin/       # Common binary output directory

# IDE-specific files
.vscode/   # VS Code settings
.idea/     # CLion/IntelliJ IDEA settings
*.xcodeproj/ # Xcode project files (macOS)
*.xcworkspace/ # Xcode workspace files (macOS)
*.suo      # Visual Studio Solution User Options
*.user     # Visual Studio User files
*.vcxproj.user # Visual Studio Project User files
*.vcxproj.filters
*.vcxproj.user
*.sln.ide* # Visual Studio IDE-specific solution files

# Editor-specific files
*~         # Backup files created by some editors (e.g., Vim)
*.swp      # Swap files created by Vim
.#*        # Emacs lock files

# Operating System files
.DS_Store  # macOS specific file
Thumbs.db  # Windows specific file
ehthumbs.db # Windows specific file

# Dependency management (if applicable)
# For example, if using a package manager that creates a vendor directory:
vendor/